name: Automate Renovate changeset
on:
  pull_request_target:
    paths:
      - '.github/workflows/automate_renovate_changesets.yml'
      - '**/yarn.lock'

jobs:
  generate-changeset:
    runs-on: ubuntu-latest
    if: github.actor == 'backstage-goalie[bot]' && github.repository == 'backstage/community-plugins'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c95a14d0e5bab51a9f56296a4eb0e416910cd350 # v2.10.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_SERVICE_ACCOUNT_TOKEN }}

      - name: Configure Git
        run: |
          git config --global user.email noreply@backstage.io
          git config --global user.name 'Github changeset workflow'

      - name: Generate feedback
        uses: backstage/actions/renovate-changesets@b3c1841fd69e1658ac631afafd0fb140a2309024 # v0.6.17
        with:
          multiple-workspaces: true
